
@{
    ViewData["Title"] = "PostList";
    Layout = "~/Views/Shared/_LayoutCportal.cshtml";
}
@section Scripts{
    <script src="~/js/applications/post.contronller.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/applications/common.js"></script>
    <script>
        renderDatatable();
    </script>
}
<div ng-controller="PostController" id="main_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px" ng-click="showDialog(x.id)"> add post</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="messageinfo" style="display:none"></div>
        <table id="dataTable" class="display" cellspacing="0">
            <thead>
                <tr>
                    <th width="20" class="text-center">No</th>
                    <th width="300">Name</th>
                    <th width="300">CategoryID</th>
                    <th width="300">Alias</th>
                    <th width="300">Descaption</th>
                    <th width="300">Body Content</th>
                    <th width="300">Image</th>
                    <th width="300">Home Flag</th>
                    <th width="300">View Count</th>
                    <th width="300">Status</th>
                    <th width="300">CreateAt</th>
                    <th width="300">UpdateAt</th>
                    <th width="300">Create By</th>
                    <th width="300">Update By</th>
                    <th width="300">Meta Keyword</th>
                    <th width="300">Meta Description</th>
                    <th width="300">Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in DataTable">
                    <td width="20" class="text-center">{{($index+1)}}</td>
                    <td width="300">{{x.name}}</td>
                    <td width="300">{{x.categoryid}}</td>
                    <td width="300">{{x.alias}}</td>
                    <td width="300">{{x.descaption}}</td>
                    <td width="300">{{x.bodycontent}}</td>
                    <td width="300">{{x.homeflag}}</td>
                    <td width="300">{{x.viewcount}}</td>
                    <td width="30" class="text-center"><input type="checkbox" ng-checked="{{x.status}}" disabled /></td>
                    <td width="200" class="text-center">{{x.createAt | date:"dd-MM-yyyy HH:mm:ss" }}</td>
                    <td width="200" class="text-center">{{x.updateAt | date:"dd-MM-yyyy HH:mm:ss" }}</td>
                    <td width="300">{{x.createby}}</td>
                    <td width="300">{{x.updateby}}</td>
                    <td width="300">{{x.metakeyword}}</td>
                    <td width="300">{{x.metadescription}}</td>
                    <td width="300">{{x.category}}</td>
                    <td><a ng-click="showDialog(x.id)">edit</a> <a ng-click="delete(x.id)">delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{Tilte}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" ng-model="post.name">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Category ID:</label>
                        <input type="text" disabled ng-model="post.categoryid">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Category ID:</label>
                        <input type="text" class="input-group" ng-model="post.alias">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="save(post.id)">save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

