<div class="content-block-area testimonials">
    <div class="testimonial-slides owl-carousel owl-theme owl-loaded">





        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2700px, 0px, 0px); transition: 0s; width: 9450px;">
                <div class="owl-item cloned" style="width: 1350px; margin-right: 0px;">
                    <div class="testimonial-single-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="client-profile">
                                        <img src="~/images/profile-1.jpg" alt="Image">
                                    </div>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <span class="colored-line"></span>
                                    <h4>Nick Leaver <span>CTO, XYZ Technology</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 1350px; margin-right: 0px;">
                    <div class="testimonial-single-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="client-profile">
                                        <img src="~/images/profile-3.jpg" alt="Image">
                                    </div>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <span class="colored-line"></span>
                                    <h4>Nick Leaver <span>CTO, XYZ Technology</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item active" style="width: 1350px; margin-right: 0px;">
                    <div class="testimonial-single-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="client-profile">
                                        <img src="~/images/profile-2.jpg" alt="Image">
                                    </div>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <span class="colored-line"></span>
                                    <h4>Nick Leaver <span>CTO, XYZ Technology</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 1350px; margin-right: 0px;">
                    <div class="testimonial-single-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="client-profile">
                                        <img src="~/images/profile-1.jpg" alt="Image">
                                    </div>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <span class="colored-line"></span>
                                    <h4>Nick Leaver <span>CTO, XYZ Technology</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 1350px; margin-right: 0px;">
                    <div class="testimonial-single-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="client-profile">
                                        <img src="~/images/profile-3.jpg" alt="Image">
                                    </div>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <span class="colored-line"></span>
                                    <h4>Nick Leaver <span>CTO, XYZ Technology</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 1350px; margin-right: 0px;">
                    <div class="testimonial-single-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="client-profile">
                                        <img src="~/images/profile-2.jpg" alt="Image">
                                    </div>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <span class="colored-line"></span>
                                    <h4>Nick Leaver <span>CTO, XYZ Technology</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 1350px; margin-right: 0px;">
                    <div class="testimonial-single-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="client-profile">
                                        <img src="~/images/profile-1.jpg" alt="Image">
                                    </div>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <span class="colored-line"></span>
                                    <h4>Nick Leaver <span>CTO, XYZ Technology</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa  fa-angle-double-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-double-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
    </div>
</div>