  <!-- Footer Area -->
<footer class="site-footer">
    <!-- Footer Top Area -->
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-wid">
                        <a href="index.html" class="footer-logo"><img src="~/images/logo.png" alt="logo"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <a href="#" class="link-color">Read More About Us <i class="fa  fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="footer-wid footer-menu">
                                <h3 class="footer-wid-title">Navigation</h3>
                                <ul>
                                    <li><a href="index.html"><i class="fa  fa-angle-right"></i> home</a></li>
                                    <li><a href="about-us.html"><i class="fa  fa-angle-right"></i> About</a></li>
                                    <li><a href="projects.html"><i class="fa  fa-angle-right"></i> projects</a></li>
                                    <li><a href="industries.html"><i class="fa  fa-angle-right"></i> industry</a></li>
                                    <li><a href="gallery.html"><i class="fa  fa-angle-right"></i> gallery</a></li>
                                    <li><a href="blog.html"><i class="fa  fa-angle-right"></i> blog</a></li>
                                    <li><a href="contact-us.html"><i class="fa  fa-angle-right"></i> contact</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="footer-wid footer-menu">
                                <h3 class="footer-wid-title">Industry</h3>
                                <ul>
                                    <li><a href="#"><i class="fa  fa-angle-right"></i> education</a></li>
                                    <li><a href="#"><i class="fa  fa-angle-right"></i> business</a></li>
                                    <li><a href="#"><i class="fa  fa-angle-right"></i> realestate</a></li>
                                    <li><a href="#"><i class="fa  fa-angle-right"></i> technology</a></li>
                                    <li><a href="#"><i class="fa  fa-angle-right"></i> banking</a></li>
                                    <li><a href="#"><i class="fa  fa-angle-right"></i> telicommunication</a></li>
                                    <li><a href="#"><i class="fa  fa-angle-right"></i> much more</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="footer-wid">
                                <h3 class="footer-wid-title">Get In Tuch</h3>
                                <p>210-2750 Quadra Street Victoria, Canada</p>
                                <div class="address-info">
                                    <span><i class="fa  fa-phone"></i> +324-5442-415</span><br>
                                    <span><i class="fa  fa-envelope"></i> support@pro-consultants.com</span>
                                </div>
                                <div class="subscribe">
                                    <form action="index.html">
                                        <input type="text" placeholder="Type your email" required>
                                        <button>Subscribe now <i class="fa  fa-paper-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="social-icos">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa  fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa  fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa  fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa  fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa  fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- End Footer Top -->
    <!-- Footer Bottom Area -->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    &copy; 2017 All Rights Reserved
                </div>
                <div class="col-md-6 col-sm-7 text-right">
                    <a href="#">FAQ</a> <span class="seprator">|</span> <a href="#">Terms & Condition</a> <span class="seprator">|</span> <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div> <!-- End Footer Bottom Area -->
</footer> 