<div class="content-block-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>Questions &amp; Answers</h2>
                </div>
                <div class="section-sub-title">
                    <div class="colored-line"></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="colored-line"></div>
                </div>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="question-boxed question-boxed-img"></div>
            </div>
            <div class="col-sm-5">
                <div class="question-answer-list-item">
                    <h5><span><i class="fa fa-quora"></i></span> What industries do you specialize in?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <h5><span><i class="fa fa-quora"></i></span> Can you guarantee that our plan will raise capital?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <h5><span><i class="fa fa-quora"></i></span> What happens after you've delivered the documents?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="faq.html">See More Questions &amp; Answers <i class="fa  fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>