<div class="content-block-area our-awesome-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>Our Awesome Team</h2>
                </div>
                <div class="section-sub-title">
                    <div class="colored-line"></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="colored-line"></div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="layer-1">
                            <div class="layer-2">
                                <div class="layer-3">
                                    <img src="~/images/img-1.jpg" alt="Image">
                                    <div class="social">
                                        <ul class="social-icon">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google-plus"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3 class="title">Micheal Jonson</h3>
                            <span class="post">Managing Director</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="layer-1">
                            <div class="layer-2">
                                <div class="layer-3">
                                    <img src="~/images/img-2.jpg" alt="Image">
                                    <div class="social">
                                        <ul class="social-icon">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google-plus"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3 class="title">Rachael Haynes</h3>
                            <span class="post">sales &amp; Marketing</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="layer-1">
                            <div class="layer-2">
                                <div class="layer-3">
                                    <img src="~/images/img-3.jpg" alt="Image">
                                    <div class="social">
                                        <ul class="social-icon">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-google-plus"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3 class="title">Alex Blackwell</h3>
                            <span class="post">project manager</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>