<div class="content-block-area our-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>Our Services</h2>
                </div>
                <div class="section-sub-title">
                    <div class="colored-line"></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="colored-line"></div>
                </div>
            </div>
        </div>
        <div class="spacer-50"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="box-item">
                    <span class="box-item-icon">
                        <i class="fa fa-database"></i>
                    </span>
                    <h3>Business<br>Consultation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-item">
                    <span class="box-item-icon">
                        <i class="fa fa-cogs"></i>
                    </span>
                    <h3>boost local<br>business</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-item">
                    <span class="box-item-icon">
                        <i class="fa fa-diamond"></i>
                    </span>
                    <h3>data<br>analyzing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
        <div class="spacer-50 hidden-sm"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="box-item">
                    <span class="box-item-icon">
                        <i class="fa fa-briefcase"></i>
                    </span>
                    <h3>Construction<br>Management</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-item">
                    <span class="box-item-icon">
                        <i class="fa fa-gift"></i>
                    </span>
                    <h3>Recruitment<br>Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-item">
                    <span class="box-item-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </span>
                    <h3>Education<br>consulting</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="separator-line"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="services-boxed-item">
                    <a href="~/images/service-img-bg-1.jpg" class="lightbox-gallery">
                        <div class="single-service-item service-img-bg-1"></div>
                    </a>
                    <h3>Placement Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="theme-btn read-more-btn">read more <i class="fa  fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="services-boxed-item">
                    <a href="~/images/service-img-bg-2.jpg" class="lightbox-gallery">
                        <div class="single-service-item service-img-bg-2"></div>
                    </a>
                    <h3>Data &amp; HR Analytics</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="theme-btn read-more-btn">read more <i class="fa  fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="services-boxed-item">
                    <a href="~/images/service-img-bg-3.jpg" class="lightbox-gallery">
                        <div class="single-service-item service-img-bg-3"></div>
                    </a>
                    <h3>Transfer Pricing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="theme-btn read-more-btn">read more <i class="fa  fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>