@{
    ViewData["Title"] = "CPortal";
    Layout = "~/Views/Shared/_LayoutCportal.cshtml";
}

@section Scripts{
   <script src="~/js/applications/menu.contronller.js"></script>
   <script src="~/lib/ckeditor/ckeditor.js"></script>
   <script src="~/js/applications/common.js"></script>
}
<div ng-controller="MenuController">

            
</div>