<div class="slider-pro sp-horizontal" id="home-slider" style="width: 1350px; margin: 0px;">

    <div class="sp-slides-container">
        <div class="sp-mask sp-grab" style="width: 1350px; height: 421.875px;">
            <div class="sp-slides" style="transform: translate3d(-1360px, 0px, 0px);">
                <div class="sp-slide sp-selected" data-index="0" data-init="true" data-loaded="true" style="width: 1350px; height: 421.875px; left: 1360px;">
                    <div class="sp-image-container" style="width: 1350px; height: 421.875px;"><img class="sp-image" data-default="~/images/slider-1.jpg" data-retina="~/images/slider-1.jpg" alt="Image" src="~/images/slider-1.jpg" style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;"></div>
                    <div class="overlay"></div>


                    <h1 class="sp-layer sp-caption-title" data-horizontal="19%" data-vertical="30%" data-show-delay="400" data-show-transition="left" data-hide-transition="left" data-hide-delay="200" data-layer-init="true" style="visibility: visible; left: 19%; top: 30%; transform-origin: left top 0px; transform: scale(1) translate3d(0px, 0px, 0px); opacity: 1;">
                        Creative !deas for your success!
                    </h1>
                    <p class="sp-layer sp-slider-text" data-horizontal="23%" data-vertical="44%" data-show-transition="left" data-hide-transition="up" data-show-delay="500" data-hide-delay="300" data-layer-init="true" style="visibility: visible; left: 23%; top: 44%; transform-origin: left top 0px; transform: scale(1) translate3d(0px, 0px, 0px); opacity: 1;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <p class="sp-layer slider-buttons" data-horizontal="30%" data-vertical="64%" data-show-delay="600" data-show-transition="left" data-hide-transition="left" data-hide-delay="400" data-layer-init="true" style="visibility: visible; left: 30%; top: 64%; transform-origin: left top 0px; transform: scale(1) translate3d(0px, 0px, 0px); opacity: 1;">
                        <a href="#" class="theme-btn theme-btn-blue">about us</a><a href="#" class="theme-btn theme-btn-white">contact us</a>
                    </p>
                </div><div class="sp-slide" data-index="1" data-init="true" data-loaded="true" style="width: 1350px; height: 421.875px; left: 2720px;">
                    <div class="sp-image-container" style="width: 1350px; height: 421.875px;"><img class="sp-image" data-default="~/images/slider-2.jpg" data-retina="~/images/slider-2.jpg" alt="Image" src="~/images/slider-2.jpg" style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;"></div>
                    <div class="overlay"></div>


                    <h1 class="sp-layer sp-caption-title" data-horizontal="19%" data-vertical="30%" data-show-delay="400" data-show-transition="left" data-hide-transition="left" data-hide-delay="200" data-layer-init="true" style="visibility: hidden; left: 19%; top: 30%; transform-origin: left top 0px; transform: scale(1) translate3d(-50px, 0px, 0px); opacity: 0;">
                        Creative !deas for your success!
                    </h1>
                    <p class="sp-layer sp-slider-text" data-horizontal="23%" data-vertical="44%" data-show-transition="left" data-hide-transition="up" data-show-delay="500" data-hide-delay="300" data-layer-init="true" style="visibility: hidden; left: 23%; top: 44%; transform-origin: left top 0px; transform: scale(1) translate3d(0px, -50px, 0px); opacity: 0;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <p class="sp-layer slider-buttons" data-horizontal="30%" data-vertical="64%" data-show-delay="600" data-show-transition="left" data-hide-transition="left" data-hide-delay="400" data-layer-init="true" style="visibility: hidden; left: 30%; top: 64%; transform-origin: left top 0px; transform: scale(1) translate3d(-50px, 0px, 0px); opacity: 0;">
                        <a href="#" class="theme-btn theme-btn-blue">about us</a><a href="#" class="theme-btn theme-btn-white">contact us</a>
                    </p>
                </div>
                <div class="sp-slide" data-index="2" data-init="true" data-loaded="true" style="width: 1350px; height: 421.875px; left: 0px;">
                    <div class="sp-image-container" style="width: 1350px; height: 421.875px;"><img class="sp-image" data-default="~/images/slider-3.jpg" data-retina="~/images/slider-3.jpg" alt="Image" src="~/images/slider-3.jpg" style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;"></div>
                    <div class="overlay"></div>


                    <h1 class="sp-layer sp-caption-title" data-horizontal="19%" data-vertical="30%" data-show-delay="400" data-show-transition="left" data-hide-transition="left" data-hide-delay="200" data-layer-init="true" style="visibility: hidden; left: 19%; top: 30%; transform-origin: left top 0px; transform: scale(1) translate3d(-50px, 0px, 0px); opacity: 0;">
                        Creative !deas for your success!
                    </h1>
                    <p class="sp-layer sp-slider-text" data-horizontal="23%" data-vertical="44%" data-show-transition="left" data-hide-transition="up" data-show-delay="500" data-hide-delay="300" data-layer-init="true" style="visibility: hidden; left: 23%; top: 44%; transform-origin: left top 0px; transform: scale(1) translate3d(0px, -50px, 0px); opacity: 0;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <p class="sp-layer slider-buttons" data-horizontal="30%" data-vertical="62%" data-show-delay="600" data-show-transition="left" data-hide-transition="left" data-hide-delay="400" data-layer-init="true" style="visibility: hidden; left: 30%; top: 62%; transform-origin: left top 0px; transform: scale(1) translate3d(-50px, 0px, 0px); opacity: 0;">
                        <a href="#" class="theme-btn theme-btn-blue">about us</a><a href="#" class="theme-btn theme-btn-white">contact us</a>
                    </p>
                </div>
            </div>
        </div><div class="sp-arrows sp-fade-arrows"><div class="sp-arrow sp-previous-arrow"></div><div class="sp-arrow sp-next-arrow"></div></div>
    </div>
</div>
    